html, body {
    margin: 0;
    height: 100%;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto;
    background-color: white;
    border: 1px solid black;
    height:500px;
    width:500px;
}

button {
    display: block;
    margin: auto;
}

h2 {
    text-align:center;
    padding-top:10px;
}



